<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%# <link rel="stylesheet" href="app/assets/stylesheets/application.css"> %>
    <%= stylesheet_link_tag "application" %> 
  </head>

  <body>
    <%= yield %>
    <h1>Bienvenue sur contact</h1>
    

  </body>
</html>
